/* home page */

.home, .reg-body, .dash-body, .profileBody{
    display: flex;
    flex-direction: column;
    background-color: rgba(190, 252, 254, 0.25);
    margin: 0;
}

.menu{
    width: 100%;
    margin-top: 2.5%;
    color:black;
    height: 7.5%;
    background-color: white;
}
.home .menu{
    margin-top: 0;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2em;
    font-size: 1.25em;
    padding-top: 1em;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding:  1em;
}
.menu ul .active{
    color: #35b6be;
}
.partners-CTA{
    font-size: 1em;
    padding-right: 5%;
    padding-top: 1%;
    height: 5%;
}
.partners-CTA a{
    text-decoration: none;
    color: black;
}
.partners-CTA p{
    float: right;
}
.intro{
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.home .banner{
    width: 40%;
}
.banner #carouselExampleCaptions{
    width: 100%;
}
.c-phrase-section{
    width: 55%;
    padding-top: 5%;
    margin-left: 2.5%;
}
.c-phrase{
    
    text-decoration: solid;
}
.c-phrase b{
    color: #35b6be;
}
.c-phrase h3{
    font-size: 3.5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
.intro p{
    font-size: 1.75em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.CTA{
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    justify-content: space-evenly;
    width: 40%;
}
.CTA a{
    text-decoration: none;
    color: black;
    width: 30%;
    height: 3em;
}
.CTA button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.25em;
}
.pos-btn{
    background-color: #35b6be;
    border: none;
    font-size: 1.25em;
}
.pos-btn:hover{
    background-color: white;
    border: 2px solid black;
    
}
.neg-btn{
    background-color: white;
    border: 2px solid black;
    font-size: 1.25em;
}
.neg-btn:hover{
    background-color: #35b6be;
    border: none;
}

/* registration page */

.welcome-msg{
    margin-left: 20%;
    margin-top: 1%;
}
.reg-body form, #editingProfile{
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.25em;
    background-color: rgba(190, 252, 254, 0.5);
    margin-top: 2.5%;
}
.reg-body form  input, .reg-body form select, .reg-body form  div, 
#editingProfile input, #editingProfile select, #editingProfile  div{
    padding: 1em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
}
.reg-body form div, #editingProfile  div{
   display: flex;
   flex-direction: row;
   background-color: white;
   color: black;
}
#editingProfile  .pfp{
    /* justify-content: space-evenly; */
}
#editingProfile  div label{
    margin-right: 10% ;
}
.reg-body form div input, #editingProfile div input{
   width: 90%;
   padding: 0;
   margin:0;
   border: none;
}
#editingProfile div input{
    width: 60%;
    font-size: 1em;
}
.reg-body form div input:focus, #editingProfile div input:focus{
    outline: none;
}
.reg-body .pos-btn, #editingProfile .pos-btn{
    width: 8em;
    height: 2em;
    border-radius: 5px;
    padding: 0;
    margin-left: 40%;
}
#editingProfile .pos-btn{
    font-size: 1em;
    margin-left: 40%;
}
.top-text {
    color:black;
}
#carousel1 {
    z-index: 100;
    background: rgba(238, 238, 238, 0.7);
}
#carousel2 {
    z-index: 100;
    background: rgba(238, 238, 238, 0.7);
}
#transcript{
    display: block;
}
#buttonStyleTranscript {
    color:black;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:#fbfac2;
    border-radius:20px;
}
.btn-cancel {
    color:white;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:red;
    border-radius:40px;
}
.btn-cancel-trasncript{
    color:white;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:red;
    border-radius:20px;
}
#video-description {
    text-align: center;
}
.transcript {
    text-align: center;
    font-size: large;
    margin: 50px;
    padding: 20px;
    background-color: white;
}
.transcript-small-div {
    background-color: white;
    margin: 20px;
}

.transcript-mini-div {
    background-color: aliceblue;
    border: 5px solid aliceblue;
    margin: 20px;
}

.transcript-mini-div:hover {
    border: 5px solid blue;
    color: #fbfac2;
}

.transcript h3 {
    text-align: left;
    margin-left: 40px;
    padding: 10px;
    font-size: xx-large;
    color: #35b6be;
}
.transcript h4 {
    text-align: left;
    margin-left: 30px;
    padding: 10px;
    color: #35b6be;
}
.transcript p {
    text-align: left;
    margin-left: 10px;
}
.transcript ul {
    text-align: left;
    margin-left: 10px;
}
#video-description {
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.button-links {
    text-decoration: none;
}
/* dashboard */
.mainBody, #editProfileSection{
    display: flex;
    flex-direction: row;
}
.dash-body section, #editProfileSection section{
    margin-top: 2.5%;
    width: 90%;
}
/* dashboard */
.progress-charts{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
}

/* settings page */
.header{
    margin-left: 5%;
    margin-top: 1.5%;
}
#editingProfileSection section{
    display: flex;
    flex-direction: column;
}
#editingProfile div span{
    margin-top: 0;
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
}
#editingProfile div span p{
    /* padding-bottom: 1em; */
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}
#editingProfile{
    display: none;
}
#editProfileSection a{
    text-decoration: none;
    color: #000000;
}
#editProfileSection img{
    width: 3em;
    height: 3em;
    border-radius: 2px;
}
#editProfileSection ul a{
    text-decoration: none;
    color: #408DCE;
}
#profilePhoto{
    display: none;
}
 #editProfileSection .profile, #patient-log .input-div{
    margin-right: 0;
    margin-bottom:2.5%;
    background-color: rgba(190, 252, 254, 0.5);
    border: none;
    border-bottom: 2px solid  rgba(64, 141, 206, 0.5);
    width: 80%;
    padding: 1em;
 }

.deleteAccount, .logOut{
    padding: 1em;
}
.logOut .intro ,.deleteAccount .intro{
    font-size: 1.5em;
    height: fit-content;
}
.deleteAccount div{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-left: 5%;
    padding-right: 20%;

}
.deleteAccount h5, .logOut h5{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.profile .neg-btn, .profile .pos-btn{
    width: 7em;
    height: 2em;
    padding: 0.25em;
    font-size: 1.25em;
}
.deleteAccount div p{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    text-align: center;
}

.logOut:hover, .deleteAccount h5:hover{
    color:#408DCE;
}


/* dashboard menu */
.dash-menu {
    height: 80vh;
    width: 10%;
    position: -webkit-sticky;
    position: sticky;
}

.dash-menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0;
}
.dash-menu .active{
    background-color: rgba(190, 252, 254, 0.5);
}
.dash-menu ul a{
    flex-grow: 1;
    padding: 20%;
    padding-top: 60%;
    text-decoration: none;
    color: #408DCE;
}
.dash-menu ul a:hover{
    border: 2px solid #408DCE;
}

/* patient log page */
#patient-log .welcome-msg{
    margin-top: 0;
    margin-left: 10%;
}
#patient-log .input{
    margin-top: 2.5%;
}
#patient-log .input .input-div{
    padding: 1em;
    padding-left: 5%;
    margin-top: 3.5%;
}
#patient-log .input .input-div form{
    padding: 1em;
    padding-left: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
}
#patient-log .input .input-div form div{
    margin-right: 2.5%;
}
#patient-log .input .input-div form input, #patient-log .input .input-div form button{
    height: 2.5em;
}
#patient-log .input .input-div form button{
    margin-top: 6.5%;
    height: 2.5em;
}
#patient-log .input .input-div div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#patient-log .input .input-div {
    display: none;
}
#patient-log .prompts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5%;
    margin-right: 2%;
}
#patient-log .prompts .prompt{
    background-color: rgba(190, 252, 254, 0.5);
    border: none;
    border-right: 2px solid  rgba(64, 141, 206, 0.5);
    border-bottom: 2px solid  rgba(64, 141, 206, 0.5);
    padding: 1em;
    width: 30%;
    height: 45vh;
}
#patient-log .prompts .prompt i{
    size: 3em;
}