/* home page */

.home, .reg-body, .dash-body, .profileBody{
    display: flex;
    flex-direction: column;
    background-color: rgba(190, 252, 254, 0.25);
    margin: 0;
}
.menu{
    width: 100%;
    margin-top: 2.5%;
    color:black;
    height: 7.5%;
    background-color: white;
}
.home .menu{
    margin-top: 0;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2em;
    font-size: 1.25em;
    padding-top: 1em;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding:  1em;
}
.menu ul .active{
    color: #35b6be;
}
.menu ul .active-meet{
    border-bottom: 2px solid #408DCE;
}
.partners-CTA{
    font-size: 1em;
    padding-right: 5%;
    padding-top: 1%;
    height: 5%;
}
.partners-CTA a{
    text-decoration: none;
    color: black;
}
.partners-CTA p{
    float: right;
}
.intro{
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    margin-left: 2.5%;
}
@media screen and (max-width:500px) {
    .intro{
        display: flex;
        flex-direction: column;
    }
}

.home .banner{
    width: 40%;
}
.banner #carouselExampleCaptions{
    width: 100%;
}
.c-phrase-section{
    width: 55%;
    padding-top: 5%;
    margin-left: 2.5%;
}
.c-phrase{
    
    text-decoration: solid;
}
.c-phrase b{
    color: #35b6be;
}
.c-phrase h3{
    font-size: 3.5em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
.intro p{
    font-size: 1.75em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.CTA{
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    justify-content: space-evenly;
    width: 40%;
}
.CTA a{
    text-decoration: none;
    color: black;
    width: 30%;
    height: 3em;
}
.CTA button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.25em;
}
.pos-btn{
    background-color: #35b6be;
    border: none;
    font-size: 1.25em;
}
.pos-btn:hover{
    background-color: white;
    border: 2px solid black;
    
}
.neg-btn{
    background-color: white;
    border: 2px solid black;
    font-size: 1.25em;
}
.neg-btn:hover{
    background-color: #35b6be;
    border: none;
}

/* registration page */

.welcome-msg{
    margin-left: 20%;
    margin-top: 1%;
}
.reg-body form, #editingProfile{
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.25em;
    background-color: rgba(190, 252, 254, 0.5);
    margin-top: 2.5%;
}

#dosage-reg form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    font-size: 1.25em;
    background-color: rgba(190, 252, 254, 0.5);
}

.reg-body form  input, .reg-body form select, .reg-body form  div, 
#dosage-reg form input, #editingProfile input, #editingProfile select, #editingProfile  div{
    padding: 1em;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
}
@media screen and (max-width:500px) {
    #dosage-reg .search-bar-top {
        left:0;
    };
    #dosage-reg form input{
        padding: 0.2em;
        margin: 0.2em;
        border: none;
        border-radius: 5px;
    };
    #dosage-reg form .pos-btn{
        background-color: #35b6be;
        border: none;
        border-radius: 5px;
        font-size: medium;
        margin: 3%;
        width: fit-content;
        padding-left: 1.5%;
        padding-right: 1.5%;
    };
}
.reg-body form div, #editingProfile  div{
   display: flex;
   flex-direction: row;
   background-color: white;
   color: black;
}
#editingProfile  .pfp{
    /* justify-content: space-evenly; */
}
#editingProfile  div label{
    margin-right: 10% ;
}
.reg-body form div input, #editingProfile div input{
   width: 90%;
   padding: 0;
   margin:0;
   border: none;
}
#editingProfile div input{
    width: 60%;
    font-size: 1em;
}
.reg-body form div input:focus, #editingProfile div input:focus{
    outline: none;
}
.reg-body .pos-btn, #editingProfile .pos-btn, #dosage-reg .pos-btn{
    width: 8em;
    height: 2em;
    border-radius: 5px;
    padding: 0;
    margin-left: 40%;
}
#editingProfile .pos-btn{
    font-size: 1em;
    margin-left: 40%;
}
.top-text {
    color:black;
}
#carousel1 {
    z-index: 100;
    background: rgba(238, 238, 238, 0.7);
}
#carousel2 {
    z-index: 100;
    background: rgba(238, 238, 238, 0.7);
}
#transcript{
    display: block;
}
#buttonStyleTranscript {
    color:black;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:#fbfac2;
    border-radius:20px;
}
.btn-cancel {
    color:white;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:red;
    border-radius:40px;
}
.btn-cancel-trasncript{
    color:white;
    width:fit-content;
    height:fit-content;
    border:none;
    padding: 10px;
    background-color:red;
    border-radius:20px;
}
.intro .banner .video-description {
    text-align: center;
    margin-top: 20%;
}
@media screen and (max-width:500px) {
    .intro .banner .video-description {
        width: 400px;
    }
}
.transcript {
    text-align: center;
    font-size: large;
    margin: 50px;
    padding: 20px;
    background-color: white;
}
@media screen and (max-width:500px) {
    .transcript {
        text-align: left;
        font-size: large;
        margin: 2%;
        margin-left: 3%;
        padding: 2%;
    }
}
.transcript-small-div {
    display:flex;
    flex-direction: row;
    padding:20px;
    background-color: white;
    margin: 20px;
}
@media screen and (max-width:500px) {
    .transcript-small-div {
        display:flex;
        flex-direction: column;
        padding:2%;
        background-color: white;
        margin: 2%;
    }
}

.transcript-mini-div {
    background-color: aliceblue;
    border: 5px solid aliceblue;
    margin: 20px;
}

.transcript-mini-div:hover {
    border: 5px solid rgb(164, 164, 235);
    color:black;
}

.transcript h3 {
    text-align: left;
    margin-left: 40px;
    padding: 10px;
    font-size: xx-large;
    color: #35b6be;
}
.transcript h4 {
    text-align: left;
    margin-left: 30px;
    padding: 10px;
    color: #35b6be;
}
.transcript p {
    text-align: left;
    margin-left: 10px;
}
.transcript ul {
    text-align: left;
    margin-left: 10px;
}
@media screen and (max-width:500px) {
    .transcript-mini-div {
        margin: 5%;
    }
    .transcript h4 {
        margin-left: 5%;
        padding: 5%;
    }
    .transcript p {
        margin-left: 5%;
    }
    .transcript ul {
        margin-left: 5%;
    }
}
#video-description {
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.button-links {
    text-decoration: none;
}
/* dashboard */
.mainBody, #editProfileSection{
    display: flex;
    flex-direction: row;
}
.mainBody section{
    width: 90%;
}

/* dashboard */
.progress-charts{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
}

/* settings page */
.header{
    margin-left: 5%;
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header h1{
   margin-left: 5%;
}
.header i{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.75)
}
.header i:hover{
    font-size: 1em;
    color: rgb(0, 0, 0)
}
#editingProfileSection section{
    display: flex;
    flex-direction: column;
}
#editingProfile div span{
    margin-top: 0;
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
}
#editingProfile div span p{
    /* padding-bottom: 1em; */
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}
#editingProfile{
    display: none;
}
#editProfileSection a{
    text-decoration: none;
    color: #000000;
}
#editProfileSection img{
    width: 3em;
    height: 3em;
    border-radius: 2px;
}
#editProfileSection ul a{
    text-decoration: none;
    color: #408DCE;
}
#profilePhoto{
    display: none;
}
 #editProfileSection .profile, #patient-log .input-div{
    margin-right: 0;
    margin-bottom:2.5%;
    background-color: rgba(190, 252, 254, 0.5);
    border: none;
    border-bottom: 2px solid  rgba(64, 141, 206, 0.5);
    width: 80%;
    padding: 1em;
 }

.deleteAccount, .logOut{
    padding: 1em;
}
.logOut .intro ,.deleteAccount .intro{
    font-size: 1.5em;
    height: fit-content;
}
.deleteAccount div{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-left: 5%;
    padding-right: 20%;

}
.deleteAccount h5, .logOut h5{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
.profile .neg-btn, .profile .pos-btn{
    width: 7em;
    height: 2em;
    padding: 0.25em;
    font-size: 1.25em;
}
.deleteAccount div p{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    text-align: center;
}

.logOut:hover, .deleteAccount h5:hover{
    color:#408DCE;
}


/* dashboard menu */
.dash-menu {
    height: 80vh;
    width: 10%;
    position: -webkit-sticky;
    position: sticky;
}

.dash-menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0;
}
.dash-menu .active{
    background-color: rgba(190, 252, 254, 0.5);
}
.dash-menu ul a{
    flex-grow: 1;
    padding: 20%;
    padding-top: 30%;
    text-decoration: none;
    color: #408DCE;
}
.dash-menu ul a:hover{
    border: 2px solid #408DCE;
}

/* patient log page */
#patient-log .welcome-msg{
    margin-top: 0;
    margin-left: 10%;
}
#patient-log .input{
    margin-top: 2.5%;
}
#patient-log .input .input-div{
    padding: 1em;
    padding-left: 5%;
    margin-top: 3.5%;
}
#patient-log .input .input-div form{
    padding: 1em;
    padding-left: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
}
#patient-log .input .input-div form div{
    margin-right: 2.5%;
}
#patient-log .input .input-div form input, #patient-log .input .input-div form button{
    height: 2.5em;
}
#patient-log .input .input-div form button{
    margin-top: 6.5%;
    height: 2.5em;
}
#patient-log .input .input-div div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#patient-log .input .input-div {
    display: none;
}
#patient-log .prompts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5%;
    margin-right: 2%;
    margin-left: 2.5%;
}
#patient-log .prompts .prompt{
    background-color: rgba(190, 252, 254, 0.5);
    border: none;
    border-right: 2px solid  rgba(64, 141, 206, 0.5);
    border-bottom: 2px solid  rgba(64, 141, 206, 0.5);
    padding: 1em;
    width: 30%;
    height: 45vh;
}
#patient-log .prompts .prompt i{
    size: 3em;
}
/* meet-menu */
.meet-menu{
    margin-top: 0;
    background: transparent;
}

/* video chat /'meet' page */
#localVideo, #remoteVideo {
    border: 1px solid #ccc;
}
#videoChat section{
    position: relative;
}
#remoteVideo{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#localVideo{
    width: 200px;
    height: 150px;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1.5em;
}
#videoChat section .video-stream{
    padding-top: 5%;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}
#videoChat section .buttons{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 1.5em;
}
#startButton{
    color: #59BF7E;
    background: transparent;
    border: none;
}
#endButton{
    color: #882100;
    background: transparent;
    border: none;
}
#muteButton, #stopVideoButton{
    color: rgb(53, 182, 190);
    border: none;
    background: transparent;
}
#muteButton:hover, #stopVideoButton:hover{
    color: rgb(136, 33, 0);
}

/* calendar */
#calendarBody section{

}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2.5%;
} 
.calendar .day {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}
.calendar .day-name{
    font-weight: 600;
}
.calendar .day.today {
    background-color: #007bff;
    color: #fff;
}
.calendar .day .booked, .calendar .day .available{
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}

/*Search Bar Styles*/

.search-bar-top {
	text-align: center;
    margin: 1%;
    width: 60%;
    display:flex;
    flex-direction: column;
}
@media screen and (max-width:500px) {
    .search-bar-top, .search-bar {
        width:90%;
        margin: auto;
        word-wrap:break-word;
        left:0;
        right:auto;
    }
}

.search-bar {
	position: relative;
	border-radius: 5px;
}
/*Chat Page Styles*/

.chat_with_title{
    background-color: #fff;
    margin: 0.5%;
    margin-left: 20%;
    color:#35b6be;
    width:50%;
}

.chat_content {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

.message-box {
    width: 40%;
    height: fit-content;
    margin: 1.5%;
    color: white;
    padding: 1.5%;
    border: none;
}
.sent{
    border-radius: 2em 20em / 2em 0.06em 3em;
    text-align:right;
    margin-left:20em;
    background-color: #35b6be;
}
.receiving{
    text-align:left;
    margin-right:20em;
    border-radius: 2em 3em 4em / 0.006em 3em;
    background-color: #0d3a5c;
}
@media screen and (max-width:500px) {
    .sent{
        right:0;
        margin-left: 7.8em;
        width: 60%;
    }
}
@media screen and (max-width:500px) {
    .receiving{
        left:0;
        margin-right: 7.8em;
        width: 60%;
    }
}

.message-box form {
    width: 5%-webkit-fill-available;
    height: fit-content;
    padding: 0%;
    background: none;
    margin-left: 80%-webkit-fill-available;
}

.message-input-box {
    padding: 0.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    right:20%;
}

.message-input-box form{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 0.05em;
    font-size: 1.25em;
    background-color: rgba(190, 252, 254, 0.8);
    position: relative;
}

.message-input-box form input, .message-input-box form textarea {
    padding: 0.5em;
    margin: 0.5em;
    height: fit-content;
    -webkit-height: fit-content;
    -moz-height: fit-content;
    border: none;
    border-radius: 5px;
}

.message-input-box form .pos-btn{
    background-color: #35b6be;
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin: 3%;
    margin-left:0;
    width: fit-content;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.message-input-box form .pos-btn:hover{
    background-color: white;
    border: 2px solid black;
    
}

#patient-doc-home-chat {
    position: relative;
    overflow: auto;
    width: 100%;
}
#chat-body {
    position: relative;
    overflow: auto;
    width: 100%;
}
.menu-bar {

}

#patient-doc-home-chat .menu-bar{
    z-index: 900;
    position: fixed;
    padding: 1.5%;
    width: -webkit-fill-available;
}

#patient-doc-home-chat form{
    margin-left: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    padding: 0.005em;
    font-size: 1.25em;
    background-color: rgba(190, 252, 254, 0.5);
    margin-top: 2.5%;
} 
@media screen and (max-width:500px) {
    #patient-doc-home-chat form {
        margin-left: 2%;
    }
}

#patient-doc-home-chat form  input {
    padding: 1em;
    width: 80%;
    margin: 0.5em;
    border: none;
    border-radius: 5px;
}
#patient-doc-home-chat .search-btn, .records-container .search-btn{
    background-color: #35b6be;
    color: #fff;
    width: fit-content;
    border: none;
    font-size: 0.8em;
    position: relative;
    margin: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
    border-radius: 10%;
}
#patient-doc-home-chat .search-btn:hover, .records-container .search-btn:hover{
    background-color: white;
    border: 1px solid black;
    
}

#patient-doc-home-chat .chat_list_table a {
    text-decoration: none;
    color:#fff;
}

#chat-body .menu-bar {
    z-index: 900;
    position: fixed;
    padding: 1.5%;
    width: -webkit-fill-available;
}

.chat_list_table {
    background-color:white;
    width: 40%-webkit-fill-available;
    margin: 5%;
    margin-left: 10%;
    margin-top:15em;
    position: relative;
    border: 1px solid;
    border-color: #35b6be;
    border-radius: 5px;
    overflow:scroll;
}

.table-row {
    background-color:#35b6be;
    margin: 1%;
    padding: 1%;
    border-radius: 2em / 2em;
    width:90%;
    height: fit-content;
    position: relative;
}
.all_messages {
    width: 70%;
    margin: 2%;
    margin-top:12em;
    margin-bottom: 0.1%;
    margin-left: 10%;
    height: 40%;
    position: fixed;
    border: 2px solid;
    border-color: #0d3a5c;
    border-radius: 5px;
    overflow:scroll;
    background-color: #fff;
}
.all_message_mini{
    position: relative;
    scroll-behavior:smooth;
}
@media screen and (max-width:500px) {
    .all_messages{
        height: 60%;
        margin-top: 10em;
    }
}
.chat-btn{
    background-color: #35b6be;
    border: none;
    font-size: 0.5em;
    height: 5%;
    padding: 10%;
    position: relative;
    width: fit-content;
}
.chat-btn:hover{
    background-color: white;
    border: 2px solid blue;
}

/*notification badges*/

.badge {
    padding: .35em .65em;
    font-size: .35em;
    font-weight: 900;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border:.04em solid ;
    border-radius: .45rem;
    background-color: white;
    position: absolute;
    z-index: 100;
    float: left;
    margin-left:-1%;
    margin-top:-0.3%;
}
.badge:empty {
    display: none
}

/*All Dosage Styles*/
.dosage_records {
    margin: 3%;
    margin-top:10em;
    margin-left: 5%;
    margin-right: 0%;
    height: 25em;
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    border-radius: 5px;
    overflow:scroll;
    background-color: #fff;
    scroll-behavior:smooth;
}

@media screen and (max-width:500px) {
    .dosage_records {
        padding: 0.75%;
        margin-top: 9em;
        margin-left: 5%;
        margin-right: 0%;
        height: 40em;
    }
}


#all-doctor-records .dosage_records {
    margin-top:13em;
}

@media screen and (max-width:500px) {
    #all-doctor-records .dosage_records {
        margin-top:13em;
        overflow:scroll;
    }
}
.dosage_records td{
    height:fit-content;
    padding: 2%;
    border-radius: 5%;
}
@media screen and (max-width:500px) {
    .dosage_records td{
        padding: 0.75%;
    }
}

.dosage_records .table_field_names td{
    color:#fff;
    background-color: #35b6be;
}
.dosage_records .table_field_items td{
    background-color: rgba(190, 252, 254);
}

.dosage_records .table_field_items .pos-btn{
    background-color: rgba(190, 252, 254, 0.5);
    border: none;
    font-size: 1.25em;
    border-radius: 10%;
}
.dosage_records .table_field_items .pos-btn:hover{
    background-color: white;
    border: 2px solid rgba(190, 252, 254, 0.5);
    
}

/*search drop down styles*/
.dropdown{
    height:40%;
    width:100%;
    margin-left:25%;
    display:-webkit-inline-box;
    position:relative;
    z-index:11;
}
    
.dropdown-content{
    border-color:#89f7fe;
    background:white;
    display:-webkit-inline-box;
    width:130%;
    text-align:left;
    height:25em;
    overflow: hidden;
    overflow-y:auto;
    position:relative;
    scroll-behavior:smooth;
    padding:15%;
    margin: -5%;
}
    
.dropdown-content a{
    text-decoration: none;
    color:black;
}

.home-chat-briefs {
    display:-webkit-box; 
    margin-left:1em;
    font-size:1.3em; 
    overflow:hidden; 
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*Read ticks*/
.read_ticks {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left:90%;
}

.message-box .read_ticks_in_chat{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin:5%;
}

/* Name of person chatted with*/
.conversation_name {
    color:#034b50;
    border-radius: 5em / 4em;
    background-color: #fff;
    word-wrap: break-word;
    padding: 0.5%;
    margin-left: 5%;
    margin-right: 60%;
}
@media screen and (max-width: 1100px){
    .conversation_name{
        border-radius: 0.5em;
        width:fit-content;
        margin-left:7%;
    }
}

/* patient records menu */

.patient-records-dash-menu {
    height: 70vh;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
}

.patient-records-dash-menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 0;
}
.patient-records-dash-menu .active{
    background-color: rgba(190, 252, 254, 0.5);
}
.patient-records-dash-menu ul a{
    flex-grow: 1;
    padding: 20%;
    padding-top: 30%;
    text-decoration: none;
    color: #408DCE;
}
.patient-records-dash-menu ul a:hover{
    border: 2px solid #408DCE;
}
@media screen and (max-width:800px) {
    .patient-records-dash-menu .welcome-msg {
        left:0;
    }
}


/*All records pages, doctors records , dosage records*/
.records-container {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:500px) {
    .records-container, .patient-records-dash-menu {
        flex-direction: row;
    }
    .records-container .menu-bar{
        z-index: 1;
        position: relative;
        padding: 1.1%;
        margin-left: 5%;
    }
}
.records-container .menu-bar{
    z-index: 1;
    position: fixed;
    padding: 1.1%;
}

#dosage-reg-home .search-bar-top{
    text-align: center;
    margin: 1%;
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: rgba(190, 252, 254);
}

@media screen and (max-width: 500px) {
    #dosage-reg-home #dosage-summary{
        margin-top: 7em;
    }
    #dosage-reg-home .search-bar-top, #dosage-reg-home .search-bar-top form{
        width:90%;
    }
}

.records-container .menu-bar .search-bar-top{
    text-align: center;
    margin: 1%;
    width: 170%;
    display:flex;
    flex-direction: column;
    background-color: rgba(190, 252, 254);
}
@media screen and (max-width:500px) {
    .records-container .menu-bar .search-bar-top{
        text-align: left;
        margin: 1%;
        width: 95%;
    }
}
.records-container .menu-bar .search-bar-top form{
    right: auto;
    left: auto;
    display: flex;
    flex-direction: row;
}

#records-home {
    margin:0.4%;
    padding: 1%;
}

#individual-doctor-records {
    margin-top: 3em;
}
@media screen and (max-width:500px) {
    #individual-doctor-records{
        margin-top: 7em;
        overflow:scroll;
    }
}

@media screen and (max-width: 500px) {
    .all_messages, .message-input-box, #chat-body .menu-bar, .records-container, #patient-records, .dropdown, .conversation_name, .dosage_records{
        width:90%;
        margin-left:5%;
    }
}

